{% block subject %}Mitgliederversammlung des CCC e. V. am 23. Juni 2018 in Mainz{% endblock %}

{% block body %}<p>Hallo {{ member.get_name }},</p>

<p>gemäß §8 Absatz 2 der Satzung des Chaos Computer Club e. V. (siehe https://ccc.de/satzung) laden wir hiermit alle
   Mitglieder zur ordentlichen Mitgliederversammlung am

<blockquote>
   Samstag, den 23. Juni 2018 in Mainz
</blockquote>
<p>ein. Da die vorherige Mitgliederversammlung am 29. April 2018 in Mainz wegen mangelnder Beschlussfähigkeit abgebrochen wurde, ist diese
   Veranstaltung nun gemäß §8 Absatz 3 der Satzung ungeachtet der Teilnehmerzahl beschlussfähig. Versammlungsort ist das</p>
<blockquote>
   Atrium Maximum der Johannes Gutenberg-Universität Mainz<br>
   Johann-Joachim-Becher-Weg 3-9<br>
   55099 Mainz.
</blockquote>
<p>Die Versammlung beginnt um</p>
<blockquote>
   11 Uhr (Einlass ab 10 Uhr).
</blockquote>

<p>Unmittelbar vor Einstieg in die Tagesordnung wird ein kurzes Regiotreffen durchgeführt, das zur Bestimmung der
   Kandidaten für das Amt des Erfa-Repräsentanten nötig ist.</p>

<p>Zur Diskussionsvorbereitung bitten wir dich, dir die Tagesordnung und Anträge im Anhang, sowie die aktuellen
   Informationen und Hinweise unter https://www.ccc.de/club/mv2018-2/, anzuschauen. Dort ist auch eine
   Anfahrtsbeschreibung zu finden. Anträge zur Tagesordnung können noch bis zum 16. Juni 2018 (vorzugsweise per E-Mail
   an vorstand@ccc.de) eingereicht werden. Diese werden dann ebenfalls auf unserer Webseite unter
   https://www.ccc.de/club/mv2018-2/ bekannt gegeben.</p>
{% if member.membership_type != member.MEMBERSHIP_TYPE_HONORARY %}
<p>Bitte beachte, dass Voraussetzung für die Ausübung deiner Rechte auf der Mitgliederversammlung ist, dass alle offenen
   Mitgliedsbeiträge bezahlt sind.</p>
{% endif %}
{% if member.membership_type == member.MEMBERSHIP_TYPE_SUPPORTER %}
<p>Fördermitglieder sind passive Mitglieder und haben daher ungeachtet des Zahlungsstands kein Stimmrecht in der
   Mitgliederversammlung.</p>
{% endif %}
<p>Derzeit führen wir dich mit folgenden Daten und Zahlungsstand:</p>
<blockquote>
   <table>
   <tr><th>Chaos-Nr.:</th><td>{{ member.chaos_number }}  (immer mit angeben!)</td></tr>
   <tr><th>Art der Mitgliedschaft:</th><td>
      {% if member.membership_type == member.MEMBERSHIP_TYPE_SUPPORTER %}
        Fördermitglied
      {% elif member.membership_type == member.MEMBERSHIP_TYPE_MEMBER %}
        ordentliches Mitglied
      {% elif member.membership_type == member.MEMBERSHIP_TYPE_HONORARY %}
        Ehrenmitglied
      {% endif %}
   </td></tr>
   <tr><th>Ermäßigt:</th><td>{% if member.membership_reduced %}Ja{% else %}Nein{% endif %}</td></tr>
   <tr><th>Erfakreis:</th><td>{{ member.erfa }}</td></tr>
   <tr><th>Name:</th><td>{{ member.get_name }}</td></tr>
   <tr><th>Adresse:</th><td>{{ member.address_1|default_if_none:"" }}<br>
                  {{ member.address_2|default_if_none:"" }}<br>
                  {{ member.address_3|default_if_none:"" }}</td></tr>
   <tr><th>Land:</th><td>{{ member.get_address_country_display }}</td></tr>
   <tr><th>E-Mails:</th><td>{{ member.get_emails_string }}</td></tr>
   <tr><th>Kommentarfeld:</th><td>{{ member.comment }}</td></tr>
   <tr><th>Information:</th><td>{{ member.notification_consent }}</td></tr>
   <tr><th>Datenschleuder:</th><td>{{ member.wants_datenschleuder }}</td></tr>
</table>
   <p>Mitgliedschaft seit dem {{ member.membership_start|date:"d.m.Y" }} = {{ member.get_annual_fee_readable }}€/Jahr,</p>
   {% if member.membership_end %}   <p>Austritt:      {{ member.membership_end|date:"d.m.Y" }}</p>
{% endif %}{% if member.get_annual_fee > 0 %}
   <p>Zuletzt gezahlt am {{ member.fee_last_paid|date:"d.m.Y" }}</p>
{% if member.account_balance > 0 %}
   <p>Guthaben für den nächsten Beitrag: {{ member.get_balance_readable }}€.</p>
{% elif member.account_balance < 0 %}
   <p>Zahlungsrückstände: {{ member.get_balance_readable|slice:"1:" }}€.</p>
{% endif %}
   <p>Am {{ member.fee_paid_until|date:"d.m.Y" }} wird der nächste Beitrag fällig.</p>

   <p>Um deine Rechte auf der Mitgliederversammlung ausüben zu können, musst du bis
      dahin noch zahlen: {{ member.get_fees_payable_until_2018_06_23 }}€.</p>
{% if member.get_fees_payable_until_2018_06_23 != '0.00' %}
   <p>Wir verwenden kein Lastschriftverfahren.</p>

   <p>Verwendungszweck: {{ member.chaos_number }}</p>

   <p>In den Verwendungszweck bitte ausschließlich deine Chaosnummer
      eintragen!</p>

   <p>Spenden bitte in einer gesonderten Überweisung mit dem Verwendungszweck "Spende" tätigen.</p>

   <p>Kontoinhaber: Chaos Computer Club e. V.<br>
   BLZ: 20010020, Kontonummer.: 599090201<br>
   BIC: PBNKDEFFXXX IBAN: DE41 2001 0020 0599 0902 01<br>
      Postbank Hamburg</p>
{% endif %}{% endif %}</blockquote>
<p>Sollten diese Daten nicht korrekt sein, so teile uns doch bitte
   Korrekturen per E-Mail an office@ccc.de oder per Post mit:</p>
<blockquote>
   Chaos Computer Club e. V.<br>
   Zeiseweg 9<br>
   22765 Hamburg<br>
</blockquote>
<p>- Bitte gib immer deine Chaosnummer an, damit wir deinen Datensatz
finden! -

<p>Mit freundlichen Grüßen<br>
der Vorstand des Chaos Computer Club e. V.<br>
   Michael Hirdes, Aleksander Paravac, Martin Haase, Dominik Keller, Bernadette Längle</p>
{% endblock %}
