<!DOCTYPE html>
<html lang="de">
<meta charset="utf-8"/>
<head>
    <style>
        @page {
            size: A4;
            margin: 0;
            margin-bottom: 0;
            margin-top: 0;
        }

        /* Some clean-up to be able to use the full page for printing */
        body {
            margin: 0;
            padding: 0;
            border: 0;
            font-family: Bitstream Vera Sans;
            font-size: 10pt;
        }

        .sender {
            font-size: 4pt;

            /* Hack to center vertically: Make line-height and height equal */
            height: 2mm;
            line-height: 2mm;
        }

        .pa_label {
            padding: 0;
        }

        table {
            border-collapse: collapse;
            table-layout: fixed;
        }

        tr {
            height: 42.3mm;
        }

        td {
            border-style: solid;
            border-width: 0;

            vertical-align: text-top;

            /* 70mm minus padding */
            width: 62mm;
            padding: 4mm;
        }

        td div {
            word-break: break-all;
            max-height: 36.3mm;
            overflow: hidden;
        }

    </style>
</head>

<body>
    {% for plz_region in plz_regions %}
    <table>
        <tr>
        {% for recipient in plz_region %}
            <td>
				<div style="">
                    <div class="sender">
                        Chaos Computer Club e. V. • Postfach 10 06 08 • 68006 Mannheim{% if recipient.is_international %} • Germany{% endif %}
                    </div>
                    {% if pa_label and not recipient.is_international %}
                    <div class="pa_label">
                        <img src="file://{{ pa_label.label.path }}" style="height: 10.75mm;"/>
                        <img src="file://{{ fv_path }}" style="height: 7.06mm;"/>
                    </div>
                    {% endif %}
                    ##{{ recipient.this_delivery_number }}##<br>
                    {{ recipient.get_name }}<br>
                    {{ recipient.address_1 }}<br>
                    {{ recipient.address_2 }}<br>
                    {% if recipient.address_3 %}{{ recipient.address_3 }}<br>{% endif %}
                    {% if recipient.is_international %}{{ recipient.get_address_country_display.upper }}{% endif %}
                </div>
            </td>
            {% if forloop.counter|divisibleby:"3" %}
            {% if not forloop.last %}
        </tr>
        <tr>
            {% endif %}
            {% endif %}
        {% endfor %}
        </tr>
    </table>
    {% if not forloop.last %}
    <div style="page-break-before: always" ></div>
    {% endif %}
    {% endfor %}
</body>
</html>