<!DOCTYPE html>

{% load staticfiles %}

{% load bootstrap4 %}

<html lang="en">
<head>
    <title>Association Administration</title>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <style>
    .btn-block {
        white-space: normal;
    }
    </style>

    {% block extra_headers %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">AA</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export/Import
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'members:import_members' %}">Import Members</a>
                        <a class="dropdown-item" href="{% url 'members:memberAddressUnknown' %}">Address unknown</a>
                        <a class="dropdown-item" href="{% url 'members:datenschleuder_address_stickers_selector' %}">Datenschleuder Address Labels</a>

                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Kasse</div>
                        <a class="dropdown-item" href="{% url 'members:cashpoint_export' %}">Kasse Export</a>

                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Vereinstisch</div>
                        <a class="dropdown-item" href="{% url 'members:vereinstisch_export' %}">Vereinstisch Export</a>
                        <a class="dropdown-item" href="{% url 'members:vereinstisch_import' %}">Vereinstisch Import</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statistics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'members:zip_statistics' %}">ZIP analysis</a>
                        <a class="dropdown-item" href="#">Country analysis</a>
                        <a class="dropdown-item" href="{% url 'members:monthly_statistics' %}">Monthly statistics</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Banking
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'import_app:import_banking' %}">Import banking CSV</a>
                        <a class="dropdown-item" href="{% url 'import_app:manage_transactions' %}">Manage imported transactions</a>
                        <a class="dropdown-item" href="{% url 'import_app:manage_transactions_failed' %}">Manage failed transactions</a>
                        <a class="dropdown-item" href="{% url 'members:show_transaction_log' %}">Show transaction logs</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="search members" href="{% url 'members:search_form' %}">
                        <img src="{% static 'icons/fam_silk/magnifier.png' %}" />
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="getPendingMails();">
                        Mails
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <div class="dropdown-header" id="msgInQField">Messages in queue: <span id="msgInQFieldAnchor">-</span></div>
                        <div class="dropdown-header" id="mailField">- Mails: <span id="mailFieldAnchor">-</span></div>
                        <div class="dropdown-header" id="lettersField">- Letters: <span id="lettersFieldAnchor">-</span></div>
                        <div class="dropdown-header" id="unreachableField">- Unreachable: <span id="unreachableFieldAnchor">-</span></div>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'admin:members_emailtomember_changelist' %}">Show Emails in Queue</a>
                        <a class="dropdown-item" href="{% url 'api:mail_send_all' %}">Send All Emails</a>
                        <a class="dropdown-item" href="{% url 'api:get_erfa_statistics' %}">Send Erfastatistik</a>
                        <a class="dropdown-item" href="{% url 'api:generate_letters' %}">Generate letters</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <section><div class="p-3">{% block content %}{% endblock %}</div></section>
    </main>
</body>
</html>
