{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
<h1>Confirm Reverting Transaction</h1>
<form action="" method="post" class="form">{% csrf_token %}
    <p>Are you sure you want to revert the following transaction?
        (You will be able to see all transactions in the Transaction Log.)</p>
    {% bootstrap_form form %}
    <div class="alert alert-danger">
        <table class="table">
            {% for field in form %}
            <tr>
            <td>{{field.label}}</td>
            <td>{{field.value}}</td>
            </tr>
            {% endfor%}
        </table>
    </div>
    {% buttons %}
    <button type="submit" value="submit" class="btn btn-danger">Confirm</button>
    {% endbuttons %}
</form>
{% endblock %}