{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
  <h1>Datenschleuder Address Labels</h1>
  <form action="{% url 'members:datenschleuder_address_stickers_selector' %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" value="Submit" class="btn btn-primary save">Submit</button>
  {% endbuttons %}
  </form>
{% endblock %}
