{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <h1>{{ h1 }}</h1>
    <form method="POST" class="form" enctype="multipart/form-data" >
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="save btn btn-primary">Save</button>
    {% endbuttons %}
    </form>

    <h2>Import log Warnings:</h2>
    <ul>
    {% for log in warnings %}
      <li>{{ log }}</li>
    {% endfor %}
    </ul>
    <h2>Import logs:</h2>
    <ul>
    {% for log in logs %}
      <li>{{ log }}</li>
    {% endfor %}
    </ul>
{% endblock %}