{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block extra_headers %}
<script src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script>
    function confirm_mbr_type_chg(chaos_number)
    {
        var confirmed = confirm("Are you sure you want to irreversibly change this member's type from supporter to member?");
        if (confirmed)
        {
            window.location.href = "/members/change_membership_type/" + chaos_number;
        }
    }
</script>
{% endblock %}

{% block content %}
<form class="form d-flex flex-wrap">
    {% csrf_token %}
    {% bootstrap_form form layout="inline" %}
    {% buttons %}
    <button class="btn btn-primary" type="submit" id="submit">Search</button>
    {% endbuttons %}
</form>

<div class="table-responsive">
    <table id="results" class="table table-striped tablesorter tableAuto">
        <thead>
            <tr>
              <th>Chaos Number</th>
              <th>Full Name</th>
              <th>Address</th>
              <th>Country</th>
              <th>Account Balance</th>
              <th>Active Member</th>
              <th>Erfa</th>
              <th>Emails</th>
              <th>Functions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="{% static 'js/load_search_results.js' %}?v=2"></script>
{% endblock %}
