{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <h1>Transactions CONFIRM</h1>
    <form method="post" action="{% url 'import_app:manage_transactions_book' %}" class="form">
        {% csrf_token %}
        {{ formset.management_form }}
        {% buttons %}
        <button type="submit" class="btn btn-danger pull-right">Book transactions</button>
        <button type="button" class="btn btn-primary pull-right" onclick="window.location='{% url 'import_app:import_banking' %}'" >Cancel</button>
        {% endbuttons %}
        <table class="table">
            <thead>
            <tr>
                <th>ChaosNr</th>
                <th>Status</th>
                <th>Rating</th>
                <th>Info</th>
            </tr>
            </thead>
            <tbody>
            {% for form in formset %}
                {% if form.instance.status in status_matching %}
                <tr>
                    <td> {{ form.instance.chaos_number }}</td>
                    <td> {{ form.instance.status }}</td>
                    <td> {{ form.instance.rating }}</td>
                    <td> {{ form.instance.information }}</td>
                </tr>
                {% endif %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
