{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <a type="button" class="btn btn-primary pull-right" onclick="window.location='{% url 'import_app:manage_transactions' %}'" >Manage Transactions</a>
    <a type="button" class="btn btn-primary pull-right" onclick="window.location='{% url 'import_app:manage_transactions_failed' %}'" >Manage Failed Transactions</a>
    <table class="table">
        <thead>
        <tr><th>Completed Transactions</th><th>{{ n_new_completed }}</th></tr>
        <tr><th>Failed Transactions</th><th>{{ n_new_failed }}</th></tr>
        <tr><th>Total Failed in DB</th><th>{{ n_all_failed }}</th></tr>
        </thead>
        <tbody>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th>ChaosNr</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

       {% for form in formset %}

           <tr>

               <td> {{ form.instance.chaos_number }}</td>
               {% if form.instance.status == status_failed  %}
                   <td class="alert alert-danger"> {{ form.instance.status }}</td>
               {% else %}
                   <td> {{ form.instance.status }}</td>
               {%  endif %}
           </tr>

       {% endfor %}

       </tbody>
   </table>
{% endblock %}
