<div class="table-responsive">
    <table class="table table-striped tableauto">
        <tbody>
            {% for row in dataList %}
            <tr>
                {% for field in row %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>